<section class="single">
  <div class="header-content">
    <div class="header-content-inner">
      <div class="row">
        <h1>Lista de Contatos</h1>
        <div class="col-md-10 col-md-offset-1 glass table-responsive">
          <%= render 'contact/contacts_table' %>
        </div>
      </div>
    </div>
  </div>
</section>
